<a href="https://colab.research.google.com/github/1961928/dgoh123.github.io/blob/main/Data_scraper(week4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
table_class = "wikitable sortable"

In [ ]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
tables = soup.find('table',{'class':table_class})

In [ ]:
df = pd.read_html(str(tables))

In [ ]:
df[0]

    Rank                 Country / Dependency  Population                 \
    Rank                 Country / Dependency     Numbers % of the world
0      –                                World  7998857000           100%
1      1                                China  1412600000            NaN
2      2                                India  1375586000            NaN
3      3                        United States   333335328            NaN
4      4                            Indonesia   275773800            NaN
..   ...                                  ...         ...            ...
237    –                Tokelau (New Zealand)        1647            NaN
238    –                   Niue (New Zealand)        1549            NaN
239  195                         Vatican City         825            NaN
240    –  Cocos (Keeling) Islands (Australia)         593            NaN
241    –    Pitcairn Islands (United Kingdom)          47            NaN

            Date Source (official or from the United Nations)  \
            Date Source (official or from the United Nations)
0    16 Dec 2022                             UN projection[3]
1    31 Dec 2021                         Official estimate[4]
2     1 Mar 2022                       Official projection[5]
3    13 Dec 2022                          Population clock[6]
4     1 Jul 2022                         Official estimate[7]
..           ...                                          ...
237   1 Jan 2019                            2019 Census [206]
238   1 Jul 2021               National annual projection[95]
239   1 Feb 2019               Monthly national estimate[207]
240  30 Jun 2020                             2021 Census[208]
241   1 Jul 2021                       Official estimate[209]

                                                 Notes
                                                 Notes
0                                                  NaN
1    The population figure refers to mainland China...
2    The figure includes the population of the Indi...
3    The figure includes the 50 states and the Dist...
4                                                  NaN
..                                                 ...
237                                                NaN
238                                                NaN
239  The total population of 825 consisted of 453 r...
240                                                NaN
241                                                NaN

[242 rows x 7 columns]

In [ ]:
population = pd.concat(df, axis=1)

In [ ]:
population.columns = ['rank', 'Country', 'Population', '% of world', 'Date', 'Source', 'Notes']

In [ ]:
population

,rank,Country,Population,% of world,Date,Source,Notes
0,–,World,7998857000,100%,16 Dec 2022,UN projection[3],NaN
1,1,China,1412600000,NaN,31 Dec 2021,Official estimate[4],The population figure refers to mainland China...
2,2,India,1375586000,NaN,1 Mar 2022,Official projection[5],The figure includes the population of the Indi...
3,3,United States,333335328,NaN,13 Dec 2022,Population clock[6],The figure includes the 50 states and the Dist...
4,4,Indonesia,275773800,NaN,1 Jul 2022,Official estimate[7],NaN
...,...,...,...,...,...,...,...
237,–,Tokelau (New Zealand),1647,NaN,1 Jan 2019,2019 Census [206],NaN
238,–,Niue (New Zealand),1549,NaN,1 Jul 2021,National annual projection[95],NaN
239,195,Vatican City,825,NaN,1 Feb 2019,Monthly national estimate[207],The total population of 825 consisted of 453 r...
240,–,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[208],NaN
241,–,Pitcairn Islands (United Kingdom),47,NaN,1 Jul 2021,Official estimate[209],NaN

In [ ]:
population.drop(['rank', '% of world', 'Date', 'Source', 'Notes'], axis=1, inplace=True)

In [ ]:
population

                                 Country  Population
0                                  World  7998857000
1                                  China  1412600000
2                                  India  1375586000
3                          United States   333335328
4                              Indonesia   275773800
..                                   ...         ...
237                Tokelau (New Zealand)        1647
238                   Niue (New Zealand)        1549
239                         Vatican City         825
240  Cocos (Keeling) Islands (Australia)         593
241    Pitcairn Islands (United Kingdom)          47

[242 rows x 2 columns]

In [ ]:
population.drop([0]).head(10).to_csv('population_top10.csv')